*~
#*
*#
.#*
autom4te.*
cscope.files
cscope*out
gmon.out
config.h
config.log
config.status
.deps
loc2c-test
run-stap
run-staprun
stamp-h1
stap
staprun/staprun
testresults
staprun/stapio
stap_merge
CVS
.checkstyle
.cproject
.metadata
.project
.settings
.autotools
SNAPSHOT
*.o
git_version.h
Makefile
build-elfutils
include-elfutils
lib-elfutils
stamp-elfutils
dtrace
stappaths.7
.zanata-cache
build-log.txt
macros.systemtap
language-server/clients/vscode/out
node_modules
package-lock.json
language-server/clients/eclipse/bin
# python3 tapset is built from python3.NN.stp.candidate into python3.stp;
# python3.stpm is generated with stap_python3_libpython for @cast paths.
tapset/python3.stp
tapset/python3.stpm