<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="com.redhat.systemtaplanguageserver"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="com.redhat.systemtaplanguageserver.StapStreamConnectionProvider"
            id="com.redhat.systemtaplanguageserver.server"
            label="com.redhat.systemtaplanguageserver.server">
      </server>
      <contentTypeMapping
            contentType="com.redhat.systemtaplanguageserver"
            id="com.redhat.systemtaplanguageserver.server">
      </contentTypeMapping>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="stp"
            id="com.redhat.systemtaplanguageserver"
            name="Systemtap Language Server"
            priority="normal">
      </content-type>
   </extension>

</plugin>
